*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23272a;
}

.box
{ 
    position: relative;
    width: 450px;
    height: 590px;
    background: #2c2f33;
    border-radius: 10px;
    overflow: hidden;

}

.box::before 
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 450px;
    height: 590px;
    background: linear-gradient(0deg, transparent, #27a093, #27a093);
    transform-origin:  bottom right;
    animation: animate 6s linear infinite;
}

.box::after 
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 560px;
    background: linear-gradient(0deg, transparent, #27a093, #27a093);
    transform-origin:  bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate
{
    0%
    {
        transform:  rotate(0deg);
    }
    100%
    {
        transform:  rotate(360deg);
    }
}

.form 
{
    position:absolute;
    inset: 2px;
    border-radius: 10px;
    background: #2c2f33;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2
{
    color: #27a093;
    font-weight: 800;
    text-align: center;

}

.inputbox
{
    position: relative;
    width: 350px;
    margin-top: 35px;
}

.inputbox input
{
    position: relative;
    width: 100%;
    padding: 20px 20px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #2c2f33;
    font-size: 1em;
    z-index: 10;
}

.inputbox span
{
    position: absolute;
    left: 0;
    padding: 20px 20px 10px;
    font-size: 1em;
    color: #ffff;
    pointer-events: none;
    transition: 0.5;

}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: #27a093;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}

.inputbox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #27a093;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i
{
    height: 44px;
}

.boton
{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}


input[type="submit"]
{
    border: none;
    outline: none;
    background: #27a093;
    padding: 11px 25px;
    width: 100px;
    margin-top: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.boton
{
    border: none;
    outline: none;
    background: #27a093;
    padding: 11px 25px;
    width: 100px;
    margin-top: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: transform .2s;
}

.boton:hover
{
    opacity: 0.8;
    background: #ffff ;
    transform: scale(1.1);
}

.button
{
    text-align: center;
    display: flex;
    justify-content: center
}

.boton:active
{
    opacity: 0.8;
}

input[type="submit"]:active
{
    opacity: 0.8;
}

.imagen
{
    width: 300px;
    margin-left: 27px;
    margin-top: -30px;
    margin-bottom: -30px;
    text-align: center;
}

.dropdown-list{
    border-color: #27a093;
    border-radius: 7.5px;
    border-width: medium;
}

.server-banner{
    padding: 20px 20px 10px;
    color: white;
}

.Container{
    display: flex;
    flex-direction: crow;
    gap: 5%;
    flex-wrap: wrap;
}

.child{
    flex-grow: 1;
    width: 100px;
    height: 200px;
}

