*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body
{
    margin-top: 20px;
    min-height: 100%;
    background: #23272a;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {

    text-align: center;
    float: left;
    padding: 5px;

}

.header{
    display: flex;
    font-size: 3em  ;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px black;
}

.box1
{ 
    box-shadow: 5px 5px 5px black;
    background: #2c2f33;
    border-radius: 10px;
    width: 1800px;
    height: 120px;
    
}

.box1 p
{
    padding-top: 25px;
    padding-left: 25px;
    color: #27a093;
    font-weight: 800;
    text-align: center;
    display: flex;
    justify-content: left;
}

.logo
{
    width: 300px;
    margin: -110px 0px 0px 1475px;
    display:flex;
    justify-content: center;
    text-align: center;
   
}

.boton {
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    outline: none;
    background: #27a093; 
    margin-right: 20px;
    width: 130px;
    height: 50px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: transform .2s;
}

.button
{
    text-align: center;
    display: flex;
    justify-content:right;
}

.boton:hover
{
    opacity: 0.8;
    background: white;
    transform: scale(1.1);
}

.log {
    max-width: 10%;
    max-height: 10%;
}
.table {
    color: white;
    table-layout: auto;
}
.fila{
 align-content: auto;
 justify-content: center;
}

.title{
    color: white;
}

.alerta{
    display: contents;
}

.table {
    color: white;
    table-layout: auto;
}

.flexcontainer{
    display: flex;
    flex-direction:row;
    gap: 5%;
    justify-content: center;
}

.child{
    flex-grow: 1;
    margin-top: 10px;
}

.child.uno{
   
    background: #2c2f33;
    color: white;
    border-radius: 20px;
    width: 380px;
    height: 150px;
    box-shadow: 5px 5px 5px black;
}

.child.dos{
    background: #2c2f33;
    color: white;
    border-radius: 20px;
    width: 380px;
    height: 595px;
    box-shadow: 5px 5px 5px black;
}

.preguntas{
    padding-top:  10px;
    margin-left: 25px;
    margin-top: 15px;
}

.correct{
    display: flex;
    background: limegreen;
    justify-content: center;
    font-size: 4vw;
    color:black;
    margin-left: 85%;
    max-width: 6%;
    max-height: 10%;
    border-radius: 10%;
}

.error{
    background:red;
    font-size: 4vw;
    color:black;
    margin-left: 85%;
    max-width: 10%;
    max-height: 10%;
}

input{
    outline-color: none;
    color: white;
    border: 0;
    border-bottom: solid white;
    background-color: transparent;

}

input[type="submit"]
{
    border: none;
    outline: none;
    background: #27a093;
    padding: 11px 25px;
    width: 100px;
    margin-top: 20px;
    margin-left: 120px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

input[type="submit"]:hover
{
   color: black;
   transform: scale(1.1);
}
